{% comment %} Mobile Nav {% endcomment %}
<header id="customHeaderMobile" class="custom-header-mobile custom-header-mobile--is-mobile">

    {% comment %} Top menu {% endcomment %}
    <div class="custom-header-mobile__header-container">
        {% if section.settings.promo_text != blank %}
            <div id="promoBanner" class="promo_banner custom-header-mobile__promo">
                {{ section.settings.promo_text }}
                <div id="promoBannerClose" class="promo_banner-close"></div>
            </div>
        {% endif %}

        <div class="custom-header-mobile__section custom-header-mobile__section--menu">
            <button id="mobileNavToggle" class="custom-header-mobile__menu-toggle">
              <span class="menu-toggle-bar"></span>
              <span class="menu-toggle-bar"></span>
              <span class="menu-toggle-bar"></span>
            </button>
        </div>


        {% comment %} LOGO {% endcomment %}
        <div class="custom-header-mobile__section custom-header-mobile__section--logo">

            <a href="{{ shop.url }}" title="{{ shop.name | escape }}" class="custom-header-mobile__logo logo">

                {% if section.settings.mobile_logo != nil %}
                    <img src="{{ section.settings.mobile_logo | img_url: '480x' }}" alt="{{ shop.name | escape }}"  class="custom-header-logo custom-header-logo--mobile"/>
                {% elsif section.settings.logo != nil %}
                  <img src="{{ section.settings.logo | img_url: '480x' }}" alt="{{ shop.name | escape }}"  class="custom-header-logo custom-header-logo--mobile"/>
                {{ shop.name }}

            {% endif %}
            </a>

        </div>

        {% comment %} CART {% endcomment %}
        <div class="custom-header-mobile__section custom-header-mobile__section--cart">

            {% if section.settings.show_cart %}

                <div class="custom-header__cart_container">
                  <a href="/cart" class="custom-header__mini_cart dropdown_link custom-header-mobile__cart" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant>
                    <img src="{{ 'cart.svg' | asset_url }}" alt="blenders cart icon" class="custom-header-mobile__cart-icon"> <span class="cart_count custom-header-mobile__cart-count">{{ cart.item_count }}</span>
                  </a>
                
                {% unless template == 'cart' %}
                  <div class="cart_content animated fadeIn">
                    <div class="js-empty-cart__message {% if cart.item_count > 0 %}hidden{% endif %}">
                      <p class="empty_cart">{{ 'layout.general.empty_cart' | t }}</p>
                    </div>
                    <form action="/checkout" method="post" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}" class="js-cart_content__form {% if cart.item_count == 0 %}hidden{% endif %}">
                      <a class="cart_content__continue-shopping secondary_button">
                        {{ 'cart.general.continue_shopping_link_html' | t }}
                      </a>
                      <ul class="cart_items js-cart_items clearfix">
                        {% for item in cart.items %}
                          <li class="cart_item clearfix">
                            <a href="{{ item.url }}">
                              {% if item.image %}
                                <div class="cart_image">
                                  <img src="{{ item | img_url: '320x' }}" alt="{{ item.title | escape }}" />
                                </div>
                              {% endif %}

                              {% comment %} Add Sale / Before Price - Edited by Adam - 2/9/18 {% endcomment %}
                              <!-- TESTT -->
                              <strong class="right price">
                                <span class="money">{{ item.variant.price | money }}</span>
                                <span class="was_price">
                                  {% if variant.price < variant.compare_at_price and variant.available %}
                                    <span class="money">{{ variant.compare_at_price | money }}</span>
                                  {% endif %}
                                </span>
                              </strong>
                              <div class="item_title">
                                {{ item.product.title }}
                                {% unless item.variant.title contains "Title" %}
                                  -
                                  {% for option in item.product.options %}
                                    {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                                  {% endfor %}
                                {% endunless %}
                              </div>
                            </a>
                            <div class="left product-quantity-box">
                              <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                              <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" />
                              <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                      <hr />
                      <ul>
                        <li class="cart_subtotal js-cart_subtotal">
                          <span class="right">
                            <span class="money">{{ cart.total_price | money }}</span>
                          </span>
                          <span>{{ 'layout.general.subtotal' | t }}</span>
                        </li>
                        <li>
                          {% if settings.display_special_instructions and settings.go_to_checkout %}
                            <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}" class="clearfix">{{ cart.note }}</textarea>
                          {% endif %}

                          {% if settings.display_tos_checkbox and settings.go_to_checkout %}
                            <p class="tos">
                              <input type="checkbox" class="tos_agree" id="sliding_agree" required />
                                <label class="tos_label">
                                  {{ 'cart.general.agree_to_terms_html' | t }}
                                </label>
                                {% if settings.tos_page != blank %}
                                  <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                                {% endif %}
                            </p>
                          {% endif %}

                          {% if settings.cart_message != blank %}
                            <div class="cart_text">
                              {{ settings.cart_message }}
                            </div>
                          {% endif %}

                          <input type="submit" class="action_button" value="{% if settings.go_to_checkout %}{{ 'layout.general.checkout' | t }}{% else %}{{ 'layout.general.go_to_cart' | t }}{% endif %}" />
                        </li>
                      </ul>
                    </form>
                  </div>
                {% endunless %}

                </div>
            {% endif %}

        </div>
    </div>

    <div id="mobileMenu" class="custom-header-mobile__menu">

      {% comment %} Search {% endcomment %}
        {% if section.settings.search_enabled %}
          <!-- search goes here!! -->
          <div class="custom-header-mobile__search" data-dropdown="search">

              <form action="/search" class="custom-header-mobile__search-form">
                {% if settings.search_option != 'everything' %}
                  <input type="hidden" name="type" value="product" />
                {% endif %}
                <span class="icon-search search-submit"></span>
                <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" autocapitalize="off" autocomplete="off" autocorrect="off" class="custom-header-mobile__search-terms" />
              </form>
          </div>
        {% endif %}

        {% comment %} First Menu {% endcomment %}
        <ul class="custom-header-mobile__list">
        {% for link in linklists.mobile-menu.links %}

            {%if link.handle == 'snow-goggles' %}

              <li class="custom-header-mobile__link custom-header-mobile__link--icon"><a href="{{ link.url }}"><img src="{{'icon-snow-goggles.svg' | asset_url}}" alt="snow goggles icon" class="mobile-category-icon">{{ link.title }}</a></li>
            
            {% elsif link.links == blank %}

                <li class="custom-header-mobile__link"><a href="{{ link.url }}">{{ link.title }}</a></li>

            {% elsif link.handle == "sunglasses" %}

                <li class="custom-header-mobile__sublink custom-header-mobile__sublink--icon">
                    <p class="custom-header-mobile__category custom-header-mobile__category--icon" data-no-instant href="{{ link.url }}"><img src="{{'icon-sunglasses.svg' | asset_url}}" alt="sunglasses icon" class="mobile-category-icon">{{ link.title }}<span class="right icon-down-arrow arrow"></span></p>
                    <ul class="submenu nst-content">
                      {% for link in linklists[link.handle].links %}
                        <li><a {%if link.active %}class="active"{% endif %}} href="{{ link.url }}">{{ link.title }}</a></li>
                      {% endfor %}
                    </ul>
                </li>

            {% else %}

                <li class="sublink custom-header-mobile__sublink">
                  <p class="custom-header-mobile__category" data-no-instant href="{{ link.url }}">{{ link.title }} <span class="right icon-down-arrow arrow"></span></p>
                  <ul class="submenu nst-content">

                      {% for link in linklists[link.handle].links %}

                          {% if linklists[link.handle] == empty %}

                              <li><a href="{{ link.url }}">{{ link.title }}</a></li>

                          {% else %}

                          <li class="sublink custom-header-mobile__sublink nst-toggle">
                              <p class="custom-header-mobile__category" class="" data-no-instant href="{{ link.url }}">{{ link.title }} <span class="right icon-down-arrow arrow"></span></p>
                              <ul class="nst-content">
                              {% for link in linklists[link.handle].links %}
                                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                              {% endfor %}
                              </ul>
                          </li>
                          {% endif %}

                      {% endfor %}
                  </ul>
                </li>

            {% endif %}

        {% endfor %}
        </ul>

        {% comment %} Friendbuy {% endcomment %}
        <a href="" class="Friendbuy custom-header-mobile__refer">Get $20 Off!</a>

        {% comment %} Social {% endcomment %}
        <div class="custom-header-mobile__social">
          {% include 'social-icons' %}
        </div>

        {% comment %} Bottom Nav {% endcomment %}
        <div class="custom-header-mobile__bottom">

          <div class="mobile-bottom-nav__item">
            <a href="tel:+{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '-', '' }}" class="">Call Us</a>
          </div>

          {% if shop.customer_accounts_enabled %}

            {% if customer %}
              <div data-no-instant class="mobile-bottom-nav__item">
                <a href="/account" data-no-instant>Yo, {{ customer.first_name }}!</a>
                <span data-no-instant>
                {{ section.settings.customer_log_out_text  | customer_logout_link }}
              </span>
              </div>
            
            {% else %}

              <div data-no-instant class="mobile-bottom-nav__item">
                {{ section.settings.customer_log_in_text | customer_login_link }}
              </div>

            {% endif %}

          {% endif %}
          
          {% if settings.show_multiple_currencies %}
            <div data-no-instant class="mobile-bottom-nav__item">
              {% include 'currencies-switcher-new' %}
            </div>
          {% endif %}
        </div>
    </div>
</header>


{% comment %} Desktop Nav {% endcomment %}
<header id="customHeaderDesktop" class="custom-header-desktop">

  {% comment %} Top Promo Banner {% endcomment %}
  {% if section.settings.promo_text != blank %}
      <div id="promoBanner" class="promo_banner custom-header-desktop__promo">
          {{ section.settings.promo_text }}
          <div id="promoBannerClose" class="promo_banner-close"></div>
      </div>
  {% endif %}

  {% comment %}  Top Banner  {% endcomment %}
  <div class="custom-header-desktop__top-banner">
    <div class="container promotions-grid-full_width custom-header-desktop__container">
      <div class="custom-header-desktop__phone">
      {% if section.settings.phone_number != '' %}
        {{ section.settings.phone_number }}
      {% endif %}
    </div>

    <div class="custom-header-desktop__account-links">

      {% comment %} Login / Account {% endcomment %}
      {% if shop.customer_accounts_enabled %}

        {% if customer %}

          <div data-no-instant class="custom-header-desktop__top-banner-link">
          <a href="/account" data-no-instant>Yo, {{ customer.first_name }}!</a>
          </div>

        {% else %}

          <div data-no-instant class="custom-header-desktop__top-banner-link">
            {{ section.settings.customer_log_in_text | customer_login_link }}
          </div>

        {% endif %} {% comment %} endif customer {% endcomment %}

      {% endif %} {% comment %} endif accounts enables {% endcomment %}

      {% comment %} Currency Switcher {% endcomment %}
      {% if settings.show_multiple_currencies %}

        <div data-no-instant class="custom-header-desktop__top-banner-link custom-header-desktop__currency">
          {% include 'currencies-switcher-new' %}
        </div>

      {% endif %}

      {% comment %} Cart {% endcomment %}
      {% if section.settings.show_cart %}
        <div class="custom-header-desktop__top-banner-link custom-header-desktop__cart">
          <a href="/cart" class="icon-cart mini_cart dropdown_link custom-header-mobile__cart" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant> <span class="cart_count">{{ cart.item_count }}</span></a>
        </div>
      {% endif %}

    </div>
    </div>
  </div>

  {% comment %} Main Header {% endcomment %}
  <div id="mainNavDesktop" class="custom-header-desktop__nav">
    <div class="container promotions-grid-full_width custom-header-desktop__nav-container custom-header-desktop__container custom-header-desktop__container--flex-start">

      {% comment %} LOGO {% endcomment %}
      <a href="{{ shop.url }}" title="{{ shop.name | escape }}" class="custom-header-desktop__logo">

        {% if section.settings.logo != nil %}
            <img src="{{ section.settings.logo | img_url: '640x' }}" alt="{{ shop.name | escape }}"  class="custom-header-desktop__logo"/>
        {% elsif section.settings.mobile_logo != nil %}
            <img src="{{ section.settings.mobile_logo | img_url: '640x' }}" alt="{{ shop.name | escape }}"  class="custom-header-desktop__logo"/>
        {% else %}
          {{ shop.name }}
        {% endif %}
      </a>

      {% comment %} MENU {% endcomment %}
      <div class="custom-header-desktop__menu">

        {% for link in linklists.mobile-menu.links %}

            {%if link.handle == 'snow-goggles' %}
              <li class="custom-header-desktop__link custom-header-desktop__link--icon custom-header-desktop__link--snow">
                <a href="{{ link.url }}"><img src="{{'icon-snow-goggles.svg' | asset_url}}" class="custom-header-desktop__menu-icon" alt="Blenders {{ link.title }} Icon" />{{ link.title }}</a>
              </li>


            {% elsif link.links == blank %}

                <li class="custom-header-desktop__link"><a href="{{ link.url }}">{{ link.title }}</a></li>


            {% comment %} If Sunglasses {% endcomment %}
            {% elsif link.handle == "sunglasses" %}

                <li class="custom-header-desktop__sublink custom-header-desktop__sublink--collection custom-header-desktop__sublink--icon">

                    <p class="custom-header-desktop__category custom-header-desktop__category--icon custom-header-desktop__category--sunglasses" data-no-instant href="{{ link.url }}"><img src="{{'icon-sunglasses.svg' | asset_url}}" class="custom-header-desktop__menu-icon" alt="Blenders Sunglasses Icon" /> {{link.title}} <img class="custom-header__menu-arrow custom-header__menu-arrow--sunglasses" src="{{'icon-arrow-down.svg' | asset_url}}" alt=""></span></p>
                    
                    <div class="submenu custom-header-desktop__submenu custom-header-desktop__submenu--collection">

                      <div id="customHeaderDesktopMenuImg" class="custom-header-desktop__menu-img"></div>

                      <ul class="custom-header-desktop__link-wrapper">
                        {% for link in linklists[link.handle].links %}

                        {%if link.object.image %}
                          <li>
                            <a class="custom-header-desktop__collection-sublink{%if link.active %} active{% endif %}" href="{{ link.url }}" data-menuimg="{{ link.object.image | img_url: '560x'}}">
                              {{link.title}}
                            </a>
                          </li>
                          
                        {% else%}

                          {{link.title}}

                        {% endif %}

                      {% endfor %}
                      
                      </ul>
                    
                    </div>

                </li>

            {% else %} {% comment %} if not sunglasses  {% endcomment %}

                <li class="sublink custom-header-desktop__sublink">
                  <p class="custom-header-desktop__category" data-no-instant href="{{ link.url }}">{% if link.handle == "snow-goggles" %}<img src="" alt="" />{% endif%}{{ link.title }} <img class="custom-header__menu-arrow" src="{{'icon-arrow-down.svg' | asset_url}}" alt=""></p>
                  <ul class="submenu custom-header-desktop__submenu">

                      {% for link in linklists[link.handle].links %}

                          {% if linklists[link.handle] == empty %}

                              <li><a href="{{ link.url }}">{{ link.title }}</a></li>

                          {% else %}

                          <li class="sublink custom-header-desktop__sublink nst-toggle">
                              <p class="custom-header-desktop__category" class="" data-no-instant href="{{ link.url }}">{{ link.title }} <img class="custom-header__menu-arrow" src="{{'icon-arrow-down.svg' | asset_url}}" alt=""></p>
                              <ul>
                              {% for link in linklists[link.handle].links %}
                                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                              {% endfor %}
                              </ul>
                          </li>
                          {% endif %}

                      {% endfor %}
                  </ul>
                </li>

            {% endif %}

        {% endfor %}


        {% comment %} Freindbuy Refer {% endcomment %}
        <a href="" class="Friendbuy custom-header-desktop__refer">Get $20 Off!</a>

      </div>{% comment %} End Menu {% endcomment %}

      {% comment %} SEARCH  {% endcomment %}

      <div class="custom-header-desktop__search" data-dropdown="search">
        <form action="/search" class="custom-header-desktop__search-form">
          {% if settings.search_option != 'everything' %}
            <input type="hidden" name="type" value="product"/>
          {% endif %}
          <span class="search-submit custom-header-desktop__search-submit"><img src="{{'icon-search-white.svg' | asset_url }}" alt="search"></span>
          <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" autocapitalize="off" autocomplete="off" autocorrect="off" class="custom-header-desktop__search-input" />
        </form>
      </div>


    </div>
  </div>

</header>

{% comment %} Schema tags - {% endcomment %}

{% schema %}
{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "fixed_header",
      "label": "Fixed ('sticky') header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "search_enabled",
      "label": "Enable search",
      "default": true
    },
    {
     "type": "header",
     "content": "Top bar"
    },
    {
      "type": "richtext",
      "id": "promo_text",
      "label": "Promotional banner text"
    },
    {
      "type": "checkbox",
      "id": "social_icons_header",
      "label": "Show social media header icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone number",
      "info": "1-800-555-5555"
    },
    {
      "type": "link_list",
      "id": "top_bar_menu",
      "label": "Top bar menu"
    },
    {
     "type": "header",
     "content": "Logos"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "400 x 100px recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_logo",
      "label": "Mobile Logo",
      "info": "Smaller logo to show on mobile devices"
    },
    {
     "type": "header",
     "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu"
    },
    {
      "type":  "text",
      "id": "customer_log_in_text",
      "label": "Customer Login Text"
    },
    {
      "type":  "text",
      "id": "customer_log_out_text",
      "label": "Customer Logout Text"
    }
  ]
}
{% endschema %}