{% comment %} Mobile Nav {% endcomment %}
<header id="customHeader" class="custom-header-mobile custom-header-mobile--is-mobile">

    {% comment %} Top menu {% endcomment %}
    <div class="custom-header-mobile__header-container">
        {% if section.settings.promo_text != blank %}
            <div id="promoBanner" class="promo_banner custom-header-mobile__promo">
                {{ section.settings.promo_text }}
                <div id="promoBannerClose" class="promo_banner-close"></div>
            </div>
        {% endif %}

        <div class="custom-header-mobile__section custom-header-mobile__section--menu">
            <button id="mobileNavToggle" class="custom-header-mobile__menu-toggle">Menu</button>
        </div>

        <div class="custom-header-mobile__section custom-header-mobile__section--logo">

            <a href="{{ shop.url }}" title="{{ shop.name | escape }}" class="custom-header-mobile__logo logo">

                {% if section.settings.mobile_logo != nil %}
                    <img src="{{ section.settings.mobile_logo | img_url: '480x' }}" alt="{{ shop.name | escape }}"  class="custom-header-logo custom-header-logo--mobile"/>
                {% elsif section.settings.logo != nil %}
                  <img src="{{ section.settings.logo | img_url: '480x' }}" alt="{{ shop.name | escape }}"  class="custom-header-logo custom-header-logo--mobile"/>
                {{ shop.name }}

            {% endif %}
            </a>

        </div>

        <div class="custom-header-mobile__section custom-header-mobile__section--cart">
            {% if section.settings.show_cart %}
                <a href="/cart" class="icon-cart mini_cart dropdown_link custom-header-mobile__cart" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant> <span class="cart_count">{{ cart.item_count }}</span></a>
            {% endif %}
        </div>
    </div>

    <div id="mobileMenu" class="custom-header-mobile__menu">

      {% comment %} Search {% endcomment %}
        {% if section.settings.search_enabled %}
          <!-- search goes here!! -->
          <div class="custom-header-mobile__search" data-dropdown="search">

              <form action="/search" class="custom-header-mobile__search-form">
                {% if settings.search_option != 'everything' %}
                  <input type="hidden" name="type" value="product" />
                {% endif %}
                <span class="icon-search search-submit"></span>
                <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" autocapitalize="off" autocomplete="off" autocorrect="off" class="custom-header-mobile__search-terms" />
              </form>
          </div>
        {% endif %}

        {% comment %} First Menu {% endcomment %}
        <ul class="custom-header-mobile__list">
        {% for link in linklists.mobile-menu.links %}

            {% if link.links == blank %}

                <li class="custom-header-mobile__link"><a href="{{ link.url }}">{{ link.title }}</a></li>

            {% elsif link.handle == "sunglasses" %}
                <li class="custom-header-mobile__sublink custom-header-mobile__sublink--icon">
                    <p class="custom-header-mobile__category" data-no-instant href="{{ link.url }}">{{ link.title }}<span class="right icon-down-arrow arrow"></span></p>
                    <ul class="submenu--hidden">
                      {% for link in linklists[link.handle].links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                      {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="sublink custom-header-mobile__sublink">
                    <p class="custom-header-mobile__category" data-no-instant href="{{ link.url }}">{{ link.title }} <span class="right icon-down-arrow arrow"></span></p>
                <ul class="submenu--hidden">
                    {% for link in linklists[link.handle].links %}
                        {% if linklists[link.handle] == empty %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% else %}
                        <li class="sublink custom-header-mobile__sublink">
                            <p class="custom-header-mobile__category" class="" data-no-instant href="{{ link.url }}">{{ link.title }} <span class="right icon-down-arrow arrow"></span></p>
                            <ul>
                            {% for link in linklists[link.handle].links %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </li>

            {% endif %}

        {% endfor %}
        </ul>

        {% comment %} Friendbuy {% endcomment %}
        <a href="" class="Friendbuy custom-header-mobile__refer">Get $20 Off!</a>

        {% comment %} Social {% endcomment %}
        <div class="custom-header-mobile__social">
          {% include 'social-icons' %}
        </div>

        {% comment %} Bottom Nav {% endcomment %}
        <div class="custom-header-mobile__bottom">

          <div class="mobile-bottom-nav__item">
            <a href="tel:+{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '-', '' }}" class="">Call Us</a>
          </div>

          {% if shop.customer_accounts_enabled %}

            {% if customer %}
              <div data-no-instant class="mobile-bottom-nav__item">
                <a href="/account" data-no-instant>Yo, {{ customer.name }}!</a>
                <span data-no-instant>
                {{ section.settings.customer_log_out_text  | customer_logout_link }}
              </span>
              </div>
            
            {% else %}

              <div data-no-instant class="mobile-bottom-nav__item">
                {{ section.settings.customer_log_in_text | customer_login_link }}
              </div>

            {% endif %}

          {% endif %}
          
          {% if settings.show_multiple_currencies %}
            <div data-no-instant class="mobile-bottom-nav__item">
              {% include 'currencies-switcher' %}
            </div>
          {% endif %}
        </div>
    </div>
</header>

{% comment %} Tablet Nav {% endcomment %}

{% comment %} Desktop Nav {% endcomment %}

{% comment %} Schema tags - {% endcomment %}
{% schema %}
{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "fixed_header",
      "label": "Fixed ('sticky') header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "search_enabled",
      "label": "Enable search",
      "default": true
    },
    {
     "type": "header",
     "content": "Top bar"
    },
    {
      "type": "richtext",
      "id": "promo_text",
      "label": "Promotional banner text"
    },
    {
      "type": "checkbox",
      "id": "social_icons_header",
      "label": "Show social media header icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone number",
      "info": "1-800-555-5555"
    },
    {
      "type": "link_list",
      "id": "top_bar_menu",
      "label": "Top bar menu"
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "options": [
        {
          "value": "cart",
          "label": "Cart"
        },
        {
          "value": "bag",
          "label": "Bag"
        }
      ],
      "default": "cart"
    },
    {
     "type": "header",
     "content": "Logos"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "400 x 100px recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_logo",
      "label": "Mobile Logo",
      "info": "Smaller logo to show on mobile devices"
    },
    {
     "type": "header",
     "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu"
    },
    {
      "type":  "text",
      "id": "customer_log_in_text",
      "label": "Customer Login Text"
    },
    {
      "type":  "text",
      "id": "customer_log_out_text",
      "label": "Customer Logout Text"
    }
  ]
}
{% endschema %}