{% comment %} Mobile Nav {% endcomment %}
<header id="customHeader" class="custom-header-mobile">

    {% comment %} Top menu {% endcomment %}
    <div class="custom-header-mobile__header-container">
        {% if section.settings.promo_text != blank %}
            <div id="promoBanner" class="promo_banner custom-header-mobile__promo">
                {{ section.settings.promo_text }}
                <div id="promoBannerClose" class="promo_banner-close"></div>
            </div>
        {% endif %}

        <div class="custom-header-mobile__section custom-header-mobile__section--menu">
            <button id="mobileNavToggle" class="custom-header-mobile__menu-toggle">Menu</button>
        </div>

        <div class="custom-header-mobile__section custom-header-mobile__section--logo">
            <a href="{{ shop.url }}" title="{{ shop.name | escape }}" class="custom-header-mobile__logo logo">
                {% if section.settings.logo != nil %}
                    <img src="{{ section.settings.logo | img_url: '410x' }}" alt="{{ shop.name | escape }}"  class="custom-header-logo"/>
                {% else %}
                {{ shop.name }}
            {% endif %}
            </a>
        </div>

        <div class="custom-header-mobile__section custom-header-mobile__section--cart">
            {% if section.settings.show_cart %}
                <a href="/cart" class="icon-cart mini_cart dropdown_link custom-header-mobile__cart" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant> <span class="cart_count">{{ cart.item_count }}</span></a>
            {% endif %}
        </div>
    </div>

    <div id="mobileMenu" class="custom-header-mobile__menu">
        <ul class="custom-header-mobile__list">
        {% for link in linklists.mobile-menu.links %}
            {% if link.links == blank %}

                <li class="custom-header-mobile__link"><a href="{{ link.url }}">{{ link.title }}</a></li>

            {% elsif link.handle == "sunglasses" %}
                <li class="custom-header-mobile__sublink custom-header-mobile__sublink--icon">
                    <p class="custom-header-mobile__category" data-no-instant href="{{ link.url }}">{{ link.title }} sUNNIESS <span class="right icon-down-arrow"></span></p>
                    <ul>
                      {% for link in linklists[link.handle].links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                      {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="sublink custom-header-mobile__sublink">
                    <p class="custom-header-mobile__category" data-no-instant href="{{ link.url }}">{{ link.title }} <span class="right icon-down-arrow"></span></p>
                <ul>
                    {% for link in linklists[link.handle].links %}
                        {% if linklists[link.handle] == empty %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% else %}
                        <li class="sublink custom-header-mobile__sublink">
                            <p class="custom-header-mobile__category" class="" data-no-instant href="{{ link.url }}">{{ link.title }} <span class="right icon-down-arrow"></span></p>
                            <ul>
                            {% for link in linklists[link.handle].links %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </li>
            {% endif %}

        {% endfor %}</ul>
    </div>
</header>

{% comment %} Tablet Nav {% endcomment %}

{% comment %} Desktop Nav {% endcomment %}

{% comment %} Schema tags - {% endcomment %}
{% schema %}
{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "fixed_header",
      "label": "Fixed ('sticky') header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "search_enabled",
      "label": "Enable search",
      "default": true
    },
    {
     "type": "header",
     "content": "Top bar"
    },
    {
      "type": "richtext",
      "id": "promo_text",
      "label": "Promotional banner text"
    },
    {
      "type": "checkbox",
      "id": "social_icons_header",
      "label": "Show social media header icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone number",
      "info": "1-800-555-5555"
    },
    {
      "type": "link_list",
      "id": "top_bar_menu",
      "label": "Top bar menu"
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "options": [
        {
          "value": "cart",
          "label": "Cart"
        },
        {
          "value": "bag",
          "label": "Bag"
        }
      ],
      "default": "cart"
    },
    {
     "type": "header",
     "content": "Logos"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "400 x 100px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_home",
      "label": "Secondary logo over content (optional)",
      "info": "400 x 100px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Mobile logo",
      "info": "100 x 50px recommended"
    },
    {
      "type": "text",
      "id": "logo_width",
      "label": "Logo display width",
      "info": "Maximum display width is 205 pixels",
      "default": "205"
    },
    {
     "type": "header",
     "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist2",
      "label": "Secondary menu"
    },
    {
     "type": "header",
     "content": "Layout"
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Logo position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "logo_alignment",
      "label": "Logo alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "Menu position",
      "options": [
        {
          "value": "inline",
          "label": "Inline with logo"
        },
        {
          "value": "block",
          "label": "Under logo"
        }
      ],
      "default": "inline"
    },
    {
      "type": "select",
      "id": "menu_alignment",
      "label": "Menu alignment",
      "options": [
        {
          "value": "align_left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "align_right",
          "label": "Right"
        }
      ],
      "default": "align_left"
    },
    {
      "type": "select",
      "id": "logo_top_padding",
      "label": "Logo top padding (in pixels) ([?](http:\/\/support.outofthesandbox.com\/customer\/portal\/articles\/1339268))",
      "options": [
        {"value": "0", "label": "0"},
        {"value": "1", "label": "1"},
        {"value": "2", "label": "2"},
        {"value": "3", "label": "3"},
        {"value": "4", "label": "4"},
        {"value": "5", "label": "5"},
        {"value": "6", "label": "6"},
        {"value": "7", "label": "7"},
        {"value": "8", "label": "8"},
        {"value": "9", "label": "9"},
        {"value": "10", "label": "10"},
        {"value": "11", "label": "11"},
        {"value": "12", "label": "12"},
        {"value": "13", "label": "13"},
        {"value": "14", "label": "14"},
        {"value": "15", "label": "15"},
        {"value": "16", "label": "16"},
        {"value": "17", "label": "17"},
        {"value": "18", "label": "18"},
        {"value": "19", "label": "19"},
        {"value": "20", "label": "20"}
      ],
      "default": "10"
    },
    {
      "type": "select",
      "id": "menu_top_padding",
      "label": "Main menu top padding (in pixels) ([?](http:\/\/support.outofthesandbox.com\/customer\/portal\/articles\/1339268))",
      "options": [
        {"value": "0", "label": "0"},
        {"value": "1", "label": "1"},
        {"value": "2", "label": "2"},
        {"value": "3", "label": "3"},
        {"value": "4", "label": "4"},
        {"value": "5", "label": "5"},
        {"value": "6", "label": "6"},
        {"value": "7", "label": "7"},
        {"value": "8", "label": "8"},
        {"value": "9", "label": "9"},
        {"value": "10", "label": "10"},
        {"value": "11", "label": "11"},
        {"value": "12", "label": "12"},
        {"value": "13", "label": "13"},
        {"value": "14", "label": "14"},
        {"value": "15", "label": "15"},
        {"value": "16", "label": "16"},
        {"value": "17", "label": "17"},
        {"value": "18", "label": "18"},
        {"value": "19", "label": "19"},
        {"value": "20", "label": "20"},
        {"value": "21", "label": "21"},
        {"value": "22", "label": "22"},
        {"value": "23", "label": "23"},
        {"value": "24", "label": "24"},
        {"value": "25", "label": "25"},
        {"value": "26", "label": "26"},
        {"value": "27", "label": "27"},
        {"value": "28", "label": "28"},
        {"value": "29", "label": "29"},
        {"value": "30", "label": "30"}
      ],
      "default": "0"
    }
  ]
}
{% endschema %}